@import "../../utils/scss/util";

.me-containers{
  .self-introduction{
    height: 560px;
    background-color: cornflowerblue;
  }

  .life{
    height: 560px;
    background-color: lightgreen;
  }

  .career{
    height: 560px;
    background-color: palevioletred;
  }


}
