@import "../../utils/scss/util";

.me-containers{
  .self-introduction{
    height: 560px;
    background-color: lightgreen;
    padding-top: 80px;

    .weibo-link{
      font-size:56px;
      color: orange;
    }

    .github-link{
      font-size:56px;
      color: black;
    }

    .facebook-link{
      font-size:60px;
      color: cornflowerblue;
    }

    .twitter-link{
      font-size:60px;
      color: deepskyblue;
    }
  }

  .career{
    height: 560px;
    background-color: cornflowerblue;
    padding-top: 80px;
  }


}
